

.container-manage-table{
    background: white;
    height: 96vh;
    padding: 10px;
}
.header-table {
    padding: 5px;
}
.title-table{
	 font-size: 24px;
            color: #4b5563;
            font-weight: 500;
}
/*---------------------*/
.toolbar-table-manage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-box-table-manage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid blue;
    border-radius: 10px;
    width: 69%;
}

.search-input-table-manage {
    width: 87%;
    padding: 10px 16px;
    outline: none;
    border-style: none;
}
/*---------------------------*/
.dropdown-table-manage{
	position: relative;
}

.dropdown-table-manage.active .dropdown-menu-table-manage{
    display: flex;
    left: -87px;
    width: 165%;
}

.btn-dropdown-table-manage{
       padding: 10px 16px;
            border: 1px solid blue;
            background: white;
            border-radius: 10px;
            color: var(--text-muted);
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: 0.2s;
}
.btn-dropdown-table-manage:hover {
            background:blue;
            color: white;
        }


.dropdown-menu-table-manage {
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            background: white;
            border: 1px solid var(--border-color);
            border-radius: 12px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
            width: 200px;
            padding: 12px;
            z-index: 50;
            display: none;
            flex-direction: column;
            gap: 10px;
        }

.dropdown-menu-table-manage>.filter-opt{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            color: #374151;
            cursor: pointer;
        }

       .dropdown-menu-table-manage>.filter-opt input[type="checkbox"] {
            width: 18px;
            height: 18px;
            accent-color: var(--primary-blue);
        }

.dropdown-menu-table-manage>.menu-footer {
    display: flex;
}



/*------------------------------*/
/*----------------------------*/
.select-filter-box{}
.select-dropdown-filter {
    padding: 10px 20px;
    border: 0.5px solid #2b56c5;
    color: blue;
    border-radius: 10px;
}
/*------------------------------*/
/*----------------------------*/
.tabs-filter-table-manage {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tabs-filter-table-manage>button {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    color: blue;
    border-style: none;
    margin-left: 5px;
    background: white;
    font-weight: bold;
    border: 0.2px solid blue;
}

.tabs-filter-table-manage>button:hover{
	background: blue;
	color: white;
}
.tabs-filter-table-manage.active{
	background: blue;
	color: white;
}
/*---------------------------*/
.notification-banner {
    background: #6ec9f3;
    color: white;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
}
/*------------------------------*/
.container-table-manage{}
/*----------Tabla sistema-----------------*/
.table-wrapper-wiev-user {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 12px;
    margin-top: 11px;
}

table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    margin-bottom: 10px;
    margin-top: 12px;
}

thead {
    display: block;
    background: #f1f1f1;
    padding: 12px 16px;
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid var(--border-color);
}
tbody {
    display: block;
    width: 100%;
    max-height: 300px;    /* Ajusta la altura a tu gusto */
    overflow-y: auto;    /* Activa el scroll vertical */
}

/* Para mantener las celdas alineadas entre thead y tbody */
thead tr, 
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Obliga a que las columnas tengan el mismo ancho */
}

/* Estilo opcional para la barra de scroll (opcional) */
tbody::-webkit-scrollbar {
    width: 8px;
}
tbody::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

th {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    color: #4b5563;
    text-align: center;
}

td {
    padding: 9px 6px;
    font-size: 14px;
    color: #374151;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}


.td-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*----------Tabla sistema-----------------*/
/*--------------------------------*/
/*--------------------*/
.footer-table-manage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*-----------PAGINACION-------------------*/

        .footer-table-manage>.pagination {
            display: flex;
            gap: 6px;
        }

        .footer-table-manage>.pagination>.page-btn {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--border-color);
            background: white;
            border-radius: 6px;
            color: var(--text-muted);
            cursor: pointer;
            text-decoration: none;
            transition: 0.2s;
        }

        .footer-table-manage>.pagination>.page-btn:hover:not(.active) {
            border-color: var(--primary-blue);
            color: var(--primary-blue);
        }

        /* Efecto Active solicitado */
        .footer-table-manage>.pagination>.page-btn.active {
            background: var(--primary-blue);
            color: white;
            border-color: var(--primary-blue);
            font-weight: bold;
        }
/*-----------PAGINACION-------------------*/

/*-------------BTN STYLE-----------------*/
.btn-new-data{ 
	background: #2b56c5;
    color: white;
    padding: 10px 20px;
    border-radius: 11px;
    border-style: none;
    font-size: 13px;
    font-weight: bold;
}

.btn-export {
    background: #2b56c5;
    color: white;
    padding: 10px 20px;
    border-radius: 11px;
    border-style: none;
    font-size: 13px;
    font-weight: bold;
}
.btn-apply {
    background: #2b56c5;
    color: white;
    padding: 8px 10px;
    border-radius: 11px;
    border-style: none;
    font-size: 13px;
    font-weight: bold;
}
.btn-reset{
background:white;
    color: black;
    padding: 5px 10px;
    border-radius: 11px;
    border-style: none;
    font-size: 13px;
    font-weight: bold;

}
.btn-trash {
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 11px;
    border-style: none;
    font-size: 13px;
    font-weight: bold;
}
.btn-edit-data-table{
	background:white;
	color:  blue;
	 border-style: none;
}

.btn-undo-table{
	background:white;
	color:  blue;
	 border-style: none;
}
.btn-delete-data-table{
	background:white;
color:red;
 border-style: none;
}
