@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opszwght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
	margin:0px;
	padding: 0px;
}

/*------------------------------*/
body{
	font-family: 'Inter';
}
/*------------------------------*/




