.container-user-info {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
.container-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 60%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 40%;
    height: 91%;
}
.header-text{

grid-area: 1 / 1 / 2 / 2;

}

.container-avatar-main{  grid-area: 2 / 1 / 3 / 2; }

.avatar-main {
    width: 130px;
    height: 130px;
    background-color:blue;
    border-radius: 50%;
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
}

.container-data{
   grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;

}



  .info-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 0;
            border-bottom: 1px solid var(--border-color);
            text-align: left;
        }

        .info-label {
            font-size: 13px;
            color: #999;
            margin-bottom: 4px;
            display: block;
        }

        .info-value {
            font-size: 16px;
            color: #333;
            font-weight: 400;
        }

        .row-right {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .btn-edit {
            background-color:blue;
            color: white;
            border: none;
            padding: 7px 20px;
            border-radius: 20px;
            font-size: 12px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .btn-edit:active { transform: scale(0.95); }
        /*--------------------------------------------*/
        .view-input {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    width: 150px;
    padding: 0;
    pointer-events: none; /* Evita que el usuario escriba directamente sin editar */
}

/* Estilo para el icono cuando está activo */
.icon-eye.active::before {
    content: "\e9ce"; /* Este es el código típico del ojo tachado en Icomoon, verifícalo en tu fuente */
}